<p>· Número de preguntas: <%= numPreguntas %> </p>
<p>· Número de comentarios totales: <%= numComentarios %> </p>
<p>· Número medio de comentarios por pregunta:  <%= numMedioComentarios %> </p>
<p>· Número de preguntas sin comentarios: <%= numPreguntasSinComentarios %> </p>
<p>· Número de preguntas con comentarios:  <%=numPreguntas-numPreguntasSinComentarios%> </p>

