<p>· Número de preguntas: <%= numPreguntas %> </p>
<p>· Número de comentarios totales (publicados y sin publicar): <%= numComentarios %> </p>
<p>· Número medio de comentarios por pregunta:  <%= numMedioComentarios %> </p>
<p>· Número de preguntas con comentarios: <%= numPreguntasConComentarios %> </p>
<p>· Número de preguntas sin comentarios:  <%=numPreguntas-numPreguntasConComentarios%> </p>

